## Paquetes y datos originales ##

In [65]:
import json
import pandas as pd
from datetime import datetime
from listas import disfagia_list, PA_list, P_list
from auxiliary_functions import valores_codigos, contar_diccionarios, dias_ingreso_total, asignar_intervalo_edad, sumar_barthel, sumar_emina, obtener_ultimo_resultat, obtener_valor_promedio, canadenca_comparada, disfagia_mecvvs, extraer_valor_clave, extraer_valor_clave_simple

tabla = pd.read_pickle('./data/processed/dataframe.pkl')
import scipy.stats as stats
from scipy.stats import ttest_ind
from statsmodels.stats.multicomp import pairwise_tukeyhsd

### Previamente se ha tratado la base de datos y se he hecho 16 nuevas columnas para facilitar la lectura de los datos

In [66]:
tabla.head()

,edat,sexe,visitaDietista,labs,mna,emina,canadenca,pes,atcs,mecvvs,...,EMINA_sumatorios_comparados,emina_resultats,mna_resultats,promedio_pes,Canadenca_sumatorios_comparados,Disfagia_mecvvs,alteracioEficacia_mecvvs,alteracioSeguretat_mecvvs,viscositat_mecvvs,volumn_mecvvs
0,89,F,0,[],[],"[{'activitat': '2', 'estatMental': '1', 'humit...",[],[],"[{'codi': 'M01AE', 'dataInici': '2020-06-21 00...",[],...,10.0,10.0,None,NaN,NaN,NaN,NaN,NaN,None,None
1,70,M,0,"[{'date': '20220524', 'name': 'PCR SARS-CoV2 S...",[],"[{'activitat': '0', 'estatMental': '0', 'humit...",[],"[{'valor': '64.7', 'data': '2022-10-04'}, {'va...","[{'codi': 'C09AA', 'dataInici': '2021-05-26 00...","[{'data': '20220930', 'pacientNoColabora': '',...",...,1.0,1.0,None,58.308333,NaN,0.0,1.0,0.0,Líquid,Alt
2,96,M,0,[],[],"[{'activitat': '3', 'estatMental': '0', 'humit...",[],[],"[{'codi': 'G04CA', 'dataInici': '2020-07-09 00...",[],...,6.0,6.0,None,NaN,NaN,NaN,NaN,NaN,None,None
3,85,M,0,[],[],"[{'activitat': '2', 'estatMental': '1', 'humit...",[],[],"[{'codi': 'G04CA', 'dataInici': '2020-07-15 00...","[{'data': '20201204131810', 'disfagia': 'S', '...",...,8.0,8.0,None,NaN,NaN,1.0,1.0,1.0,NECTAR,ALT
4,93,M,0,"[{'date': '20220208', 'name': 'UREA Sèrum', 'l...","[{'imc': '0', 'anorexia': '1', 'perduaPes': '1...","[{'activitat': '2', 'estatMental': '1', 'humit...",[],"[{'valor': '49.900', 'data': '2022-06-02'}, {'...","[{'codi': 'N02AA', 'dataInici': '2022-02-01 00...","[{'data': '20220330172303', 'disfagiaConeguda'...",...,7.0,7.0,4.0,49.900000,NaN,1.0,NaN,NaN,None,None

## Dividiré los datos en 3 grupos:
- Con PA (codigo ICD de PA )
- Con PA + MECVV (MECVV positivo + icd pneumonia < 30 days)
- Sin PA (ICD pneumonia or icd pneumonia + mecvv positive > 30 days)

# CON PA

In [67]:
tabla.PA_diagnosticada.value_counts()

PA_diagnosticada
0.0    33
1.0    17
Name: count, dtype: int64

In [68]:
CON_PA = tabla[tabla["PA_diagnosticada"] == 1.0]
CON_PA.head(len(tabla))

,edat,sexe,visitaDietista,labs,mna,emina,canadenca,pes,atcs,mecvvs,...,EMINA_sumatorios_comparados,emina_resultats,mna_resultats,promedio_pes,Canadenca_sumatorios_comparados,Disfagia_mecvvs,alteracioEficacia_mecvvs,alteracioSeguretat_mecvvs,viscositat_mecvvs,volumn_mecvvs
0,89,F,0,[],[],"[{'activitat': '2', 'estatMental': '1', 'humit...",[],[],"[{'codi': 'M01AE', 'dataInici': '2020-06-21 00...",[],...,10.0,10.0,None,NaN,NaN,NaN,NaN,NaN,None,None
1,70,M,0,"[{'date': '20220524', 'name': 'PCR SARS-CoV2 S...",[],"[{'activitat': '0', 'estatMental': '0', 'humit...",[],"[{'valor': '64.7', 'data': '2022-10-04'}, {'va...","[{'codi': 'C09AA', 'dataInici': '2021-05-26 00...","[{'data': '20220930', 'pacientNoColabora': '',...",...,1.0,1.0,None,58.308333,NaN,0.0,1.0,0.0,Líquid,Alt
3,85,M,0,[],[],"[{'activitat': '2', 'estatMental': '1', 'humit...",[],[],"[{'codi': 'G04CA', 'dataInici': '2020-07-15 00...","[{'data': '20201204131810', 'disfagia': 'S', '...",...,8.0,8.0,None,NaN,NaN,1.0,1.0,1.0,NECTAR,ALT
6,101,F,0,[],[],"[{'activitat': '3', 'estatMental': '1', 'humit...",[],[],"[{'codi': 'C09AA', 'dataInici': '2021-08-21 00...","[{'data': '20210819124116', 'disfagia': 'S', '...",...,9.0,9.0,None,NaN,NaN,1.0,1.0,0.0,LIQUID,BAIX
12,86,M,0,[],[],"[{'activitat': '1', 'estatMental': '1', 'humit...",[],"[{'valor': '46.4', 'data': '2020-09-09'}]","[{'codi': 'G04CA', 'dataInici': '2020-09-04 00...","[{'data': '20200907110400', 'disfagia': 'S', '...",...,7.0,7.0,None,46.400000,NaN,1.0,1.0,1.0,NECTAR,MIG
13,71,F,0,"[{'date': '20220216', 'name': 'CULTIU Esput', ...",[],"[{'activitat': '3', 'estatMental': '0', 'humit...","[{'dataValoracio': '2020-09-06', 'horaValoraci...",[],"[{'codi': 'C10AA', 'dataInici': '2020-09-06 00...","[{'data': '20200906175506', 'disfagia': 'N', '...",...,6.0,6.0,None,NaN,7.0,1.0,1.0,1.0,PUDING,MIG
15,75,M,0,[],[],"[{'activitat': '3', 'estatMental': '2', 'humit...",[],[],"[{'codi': 'G04CA', 'dataInici': '2020-09-19 00...",[],...,13.0,13.0,None,NaN,NaN,NaN,NaN,NaN,None,None
26,97,F,0,"[{'date': '20220419', 'name': 'GLUCOSA Sèrum',...",[],"[{'activitat': '1', 'estatMental': '0', 'humit...",[],[],"[{'codi': 'C09BA', 'dataInici': '2022-04-17 00...",[],...,5.0,5.0,None,NaN,NaN,NaN,NaN,NaN,None,None
28,95,F,0,"[{'date': '20220526', 'name': 'GLUCOSA Sèrum',...",[],"[{'activitat': '3', 'estatMental': '0', 'humit...",[],"[{'valor': '0', 'data': '2022-05-30'}]","[{'codi': 'C10AA', 'dataInici': '2020-11-18 00...","[{'data': '20220529115841', 'disfagia': 'S', '...",...,6.0,6.0,None,0.000000,NaN,0.0,0.0,0.0,LIQUID,MIG
29,97,F,0,[],[],"[{'activitat': '3', 'estatMental': '2', 'humit...",[],[],"[{'codi': 'N02BE', 'dataInici': '2020-11-30 00...",[],...,14.0,14.0,None,NaN,NaN,NaN,NaN,NaN,None,None
31,89,M,0,"[{'date': '20220318', 'name': 'BILIRUBINA TOTA...","[{'imc': '', 'anorexia': '', 'perduaPes': '', ...","[{'activitat': '2', 'estatMental': '1', 'humit...",[],"[{'valor': '75', 'data': '2022-01-11'}, {'valo...","[{'codi': 'C10AA', 'dataInici': '2021-12-23 00...","[{'data': '20220119101523', 'disfagia': 'N', '...",...,9.0,9.0,0.0,74.350000,NaN,0.0,0.0,0.0,LIQUID,BAIX
32,81,M,0,[],[],"[{'activitat': '2', 'estatMental': '1', 'humit...",[],[],"[{'codi': 'C10AA', 'dataInici': '2020-12-23 00...",[],...,8.0,8.0,None,NaN,NaN,NaN,NaN,NaN,None,None
34,96,F,0,[],"[{'imc': '', 'anorexia': '', 'perduaPes': '', ...","[{'activitat': '1', 'estatMental': '1', 'humit...",[],"[{'valor': '51.5', 'data': '2021-01-14'}]","[{'codi': 'N02AA', 'dataInici': '2021-01-01 00...",[],...,6.0,6.0,0.0,51.500000,NaN,NaN,NaN,NaN,None,None
37,86,M,0,"[{'date': '20221003', 'name': 'GLUCOSA Sèrum',...","[{'imc': '', 'anorexia': '', 'perduaPes': '', ...","[{'activitat': '2', 'estatMental': '1', 'humit...",[],"[{'valor': '72', 'data': '2022-10-09'}]","[{'codi': 'G04CA', 'dataInici': '2022-09-26 00...","[{'data': '20221012122425', 'disfagia': 'S', '...",...,9.0,9.0,0.0,72.000000,NaN,1.0,0.0,1.0,NECTAR,MIG
38,90,M,0,"[{'date': '20220809', 'name': 'GLUCOSA Sèrum',...",[],"[{'activitat': '3', 'estatMental': '0', 'humit...",[],[],"[{'codi': 'N02BE', 'dataInici': '2022-10-27 00...","[{'data': '20221031103922', 'pacientNoColabora...",...,9.0,9.0,None,NaN,NaN,NaN,NaN,NaN,None,None
39,87,F,0,"[{'date': '20230619', 'name': 'GLUCOSA Sèrum',...",[],"[{'activitat': '1', 'estatMental': '0', 'humit...",[],[],"[{'codi': 'N02BE', 'dataInici': '2021-01-17 00...","[{'data': '20220111085147', 'disfagia': 'S', '...",...,4.0,4.0,None,NaN,NaN,1.0,1.0,0.0,LIQUID,MIG
45,85,M,0,"[{'date': '20220330', 'name': 'GLUCOSA Sèrum',...","[{'imc': '', 'anorexia': '', 'perduaPes': '', ...","[{'activitat': '3', 'estatMental': '1', 'humit...",[],"[{'valor': '0', 'data': '2023-04-28'}]","[{'codi': 'G04CA', 'dataInici': '2021-03-21 00...","[{'data': '20210323123919', 'disfagia': 'S', '...",...,11.0,11.0,0.0,0.000000,NaN,1.0,1.0,1.0,PUDING,BAIX

# CON_PA + MECVV

In [69]:
CON_PA_MECVV = tabla[(tabla["P_diagnosticada"] == 1.0) & (tabla["Disfagia_mecvvs"] == 1.0) & (tabla["Dias_totales_ingresado"] < 30)]
CON_PA_MECVV.head(len(tabla))

,edat,sexe,visitaDietista,labs,mna,emina,canadenca,pes,atcs,mecvvs,...,EMINA_sumatorios_comparados,emina_resultats,mna_resultats,promedio_pes,Canadenca_sumatorios_comparados,Disfagia_mecvvs,alteracioEficacia_mecvvs,alteracioSeguretat_mecvvs,viscositat_mecvvs,volumn_mecvvs
3,85,M,0,[],[],"[{'activitat': '2', 'estatMental': '1', 'humit...",[],[],"[{'codi': 'G04CA', 'dataInici': '2020-07-15 00...","[{'data': '20201204131810', 'disfagia': 'S', '...",...,8.0,8.0,None,NaN,NaN,1.0,1.0,1.0,NECTAR,ALT
6,101,F,0,[],[],"[{'activitat': '3', 'estatMental': '1', 'humit...",[],[],"[{'codi': 'C09AA', 'dataInici': '2021-08-21 00...","[{'data': '20210819124116', 'disfagia': 'S', '...",...,9.0,9.0,None,NaN,NaN,1.0,1.0,0.0,LIQUID,BAIX
12,86,M,0,[],[],"[{'activitat': '1', 'estatMental': '1', 'humit...",[],"[{'valor': '46.4', 'data': '2020-09-09'}]","[{'codi': 'G04CA', 'dataInici': '2020-09-04 00...","[{'data': '20200907110400', 'disfagia': 'S', '...",...,7.0,7.0,None,46.40,NaN,1.0,1.0,1.0,NECTAR,MIG
13,71,F,0,"[{'date': '20220216', 'name': 'CULTIU Esput', ...",[],"[{'activitat': '3', 'estatMental': '0', 'humit...","[{'dataValoracio': '2020-09-06', 'horaValoraci...",[],"[{'codi': 'C10AA', 'dataInici': '2020-09-06 00...","[{'data': '20200906175506', 'disfagia': 'N', '...",...,6.0,6.0,None,NaN,7.0,1.0,1.0,1.0,PUDING,MIG
27,100,M,0,[],[],"[{'activitat': '3', 'estatMental': '0', 'humit...",[],"[{'valor': '0', 'data': '2021-09-14'}, {'valor...","[{'codi': 'C08CA', 'dataInici': '2020-11-23 00...","[{'data': '20201125131827', 'disfagia': 'S', '...",...,9.0,9.0,None,20.55,NaN,1.0,1.0,0.0,LIQUID,BAIX
37,86,M,0,"[{'date': '20221003', 'name': 'GLUCOSA Sèrum',...","[{'imc': '', 'anorexia': '', 'perduaPes': '', ...","[{'activitat': '2', 'estatMental': '1', 'humit...",[],"[{'valor': '72', 'data': '2022-10-09'}]","[{'codi': 'G04CA', 'dataInici': '2022-09-26 00...","[{'data': '20221012122425', 'disfagia': 'S', '...",...,9.0,9.0,0.0,72.00,NaN,1.0,0.0,1.0,NECTAR,MIG
39,87,F,0,"[{'date': '20230619', 'name': 'GLUCOSA Sèrum',...",[],"[{'activitat': '1', 'estatMental': '0', 'humit...",[],[],"[{'codi': 'N02BE', 'dataInici': '2021-01-17 00...","[{'data': '20220111085147', 'disfagia': 'S', '...",...,4.0,4.0,None,NaN,NaN,1.0,1.0,0.0,LIQUID,MIG
41,93,F,0,"[{'date': '20221013', 'name': 'GLUCOSA Sèrum',...",[],"[{'activitat': '1', 'estatMental': '1', 'humit...",[],"[{'valor': '0', 'data': '2023-06-02'}, {'valor...","[{'codi': 'C10AA', 'dataInici': '2021-02-05 00...","[{'data': '20230530155654', 'disfagia': 'S', '...",...,5.0,5.0,None,30.00,NaN,1.0,0.0,1.0,LIQUID,BAIX
46,86,M,0,[],[],"[{'activitat': '3', 'estatMental': '1', 'humit...",[],"[{'valor': '55.1', 'data': '2021-03-21'}]","[{'codi': 'G04CA', 'dataInici': '2021-03-20 00...","[{'data': '20210721140136', 'disfagia': 'S', '...",...,10.0,10.0,None,55.10,NaN,1.0,1.0,1.0,PUDING,MIG
47,94,M,0,[],[],"[{'activitat': '3', 'estatMental': '1', 'humit...",[],[],"[{'codi': 'C09AA', 'dataInici': '2021-03-23 00...","[{'data': '20210325091551', 'disfagia': 'S', '...",...,9.0,9.0,None,NaN,NaN,1.0,0.0,1.0,LIQUID,BAIX

# SIN_PA

In [70]:
SIN_PA = tabla[(tabla["P_diagnosticada"] == 1.0) & (tabla["Disfagia_mecvvs"] == 1.0) & (tabla["Dias_totales_ingresado"] > 30) | (tabla["P_diagnosticada"] == 1.0)]
SIN_PA.head(len(tabla))

,edat,sexe,visitaDietista,labs,mna,emina,canadenca,pes,atcs,mecvvs,...,EMINA_sumatorios_comparados,emina_resultats,mna_resultats,promedio_pes,Canadenca_sumatorios_comparados,Disfagia_mecvvs,alteracioEficacia_mecvvs,alteracioSeguretat_mecvvs,viscositat_mecvvs,volumn_mecvvs
0,89,F,0,[],[],"[{'activitat': '2', 'estatMental': '1', 'humit...",[],[],"[{'codi': 'M01AE', 'dataInici': '2020-06-21 00...",[],...,10.0,10.0,None,NaN,NaN,NaN,NaN,NaN,None,None
1,70,M,0,"[{'date': '20220524', 'name': 'PCR SARS-CoV2 S...",[],"[{'activitat': '0', 'estatMental': '0', 'humit...",[],"[{'valor': '64.7', 'data': '2022-10-04'}, {'va...","[{'codi': 'C09AA', 'dataInici': '2021-05-26 00...","[{'data': '20220930', 'pacientNoColabora': '',...",...,1.0,1.0,None,58.308333,NaN,0.0,1.0,0.0,Líquid,Alt
2,96,M,0,[],[],"[{'activitat': '3', 'estatMental': '0', 'humit...",[],[],"[{'codi': 'G04CA', 'dataInici': '2020-07-09 00...",[],...,6.0,6.0,None,NaN,NaN,NaN,NaN,NaN,None,None
3,85,M,0,[],[],"[{'activitat': '2', 'estatMental': '1', 'humit...",[],[],"[{'codi': 'G04CA', 'dataInici': '2020-07-15 00...","[{'data': '20201204131810', 'disfagia': 'S', '...",...,8.0,8.0,None,NaN,NaN,1.0,1.0,1.0,NECTAR,ALT
4,93,M,0,"[{'date': '20220208', 'name': 'UREA Sèrum', 'l...","[{'imc': '0', 'anorexia': '1', 'perduaPes': '1...","[{'activitat': '2', 'estatMental': '1', 'humit...",[],"[{'valor': '49.900', 'data': '2022-06-02'}, {'...","[{'codi': 'N02AA', 'dataInici': '2022-02-01 00...","[{'data': '20220330172303', 'disfagiaConeguda'...",...,7.0,7.0,4.0,49.900000,NaN,1.0,NaN,NaN,None,None
5,57,M,0,"[{'date': '20220909', 'name': 'GLUCOSA Sèrum',...",[],"[{'activitat': '1', 'estatMental': '0', 'humit...",[],"[{'valor': '83.7', 'data': '2020-08-13'}, {'va...","[{'codi': 'N02BE', 'dataInici': '2020-08-12 00...",[],...,3.0,3.0,None,77.760000,NaN,NaN,NaN,NaN,None,None
6,101,F,0,[],[],"[{'activitat': '3', 'estatMental': '1', 'humit...",[],[],"[{'codi': 'C09AA', 'dataInici': '2021-08-21 00...","[{'data': '20210819124116', 'disfagia': 'S', '...",...,9.0,9.0,None,NaN,NaN,1.0,1.0,0.0,LIQUID,BAIX
7,90,F,0,"[{'date': '20220627', 'name': 'GLUCOSA Sèrum',...","[{'imc': '0', 'anorexia': '0', 'perduaPes': '1...","[{'activitat': '3', 'estatMental': '1', 'humit...","[{'dataValoracio': '2020-07-30', 'horaValoraci...",[],"[{'codi': 'C09AA', 'dataInici': '2020-07-31 00...","[{'data': '20200731092102', 'disfagia': 'N', '...",...,12.0,12.0,1.0,NaN,9.0,0.0,0.0,0.0,LIQUID,MIG
8,90,F,0,"[{'date': '20220827', 'name': 'GLUCOSA Sèrum',...",[],"[{'activitat': '3', 'estatMental': '0', 'humit...",[],[],"[{'codi': 'N02BB', 'dataInici': '2023-07-17 00...",[],...,5.0,5.0,None,NaN,NaN,NaN,NaN,NaN,None,None
9,91,M,0,[],[],"[{'activitat': '1', 'estatMental': '1', 'humit...",[],[],"[{'codi': 'C10AA', 'dataInici': '2020-08-25 00...",[],...,3.0,3.0,None,NaN,NaN,NaN,NaN,NaN,None,None
10,84,F,0,[],[],"[{'activitat': '0', 'estatMental': '0', 'humit...",[],[],"[{'codi': 'C09DA', 'dataInici': '2020-08-19 00...",[],...,0.0,0.0,None,NaN,NaN,NaN,NaN,NaN,None,None
11,58,M,0,[],[],"[{'activitat': '0', 'estatMental': '0', 'humit...",[],[],"[{'codi': 'N02BB', 'dataInici': '2020-08-28 00...",[],...,0.0,0.0,None,NaN,NaN,NaN,NaN,NaN,None,None
12,86,M,0,[],[],"[{'activitat': '1', 'estatMental': '1', 'humit...",[],"[{'valor': '46.4', 'data': '2020-09-09'}]","[{'codi': 'G04CA', 'dataInici': '2020-09-04 00...","[{'data': '20200907110400', 'disfagia': 'S', '...",...,7.0,7.0,None,46.400000,NaN,1.0,1.0,1.0,NECTAR,MIG
13,71,F,0,"[{'date': '20220216', 'name': 'CULTIU Esput', ...",[],"[{'activitat': '3', 'estatMental': '0', 'humit...","[{'dataValoracio': '2020-09-06', 'horaValoraci...",[],"[{'codi': 'C10AA', 'dataInici': '2020-09-06 00...","[{'data': '20200906175506', 'disfagia': 'N', '...",...,6.0,6.0,None,NaN,7.0,1.0,1.0,1.0,PUDING,MIG
14,61,M,0,[],[],"[{'activitat': '2', 'estatMental': '0', 'humit...",[],[],"[{'codi': 'N02BE', 'dataInici': '2020-10-28 00...",[],...,7.0,7.0,None,NaN,NaN,NaN,NaN,NaN,None,None
15,75,M,0,[],[],"[{'activitat': '3', 'estatMental': '2', 'humit...",[],[],"[{'codi': 'G04CA', 'dataInici': '2020-09-19 00...",[],...,13.0,13.0,None,NaN,NaN,NaN,NaN,NaN,None,None
16,79,M,0,[],[],"[{'activitat': '0', 'estatMental': '0', 'humit...",[],[],"[{'codi': 'C08DB', 'dataInici': '2020-09-20 00...",[],...,0.0,0.0,None,NaN,NaN,NaN,NaN,NaN,None,None
17,58,M,0,"[{'date': '20230119', 'name': 'pH/arterial', '...",[],"[{'activitat': '0', 'estatMental': '0', 'humit...",[],"[{'valor': '111', 'data': '2020-09-27'}, {'val...","[{'codi': 'N02BE', 'dataInici': '2020-09-23 00...",[],...,0.0,0.0,None,112.540000,NaN,NaN,NaN,NaN,None,None
18,64,M,0,"[{'date': '20220217', 'name': 'EXTRACCIÓ RNA',...",[],"[{'activitat': '0', 'estatMental': '0', 'humit...",[],[],"[{'codi': 'N02BE', 'dataInici': '2020-10-24 00...",[],...,0.0,0.0,None,NaN,NaN,NaN,NaN,NaN,None,None
19,85,M,0,"[{'date': '20230130', 'name': 'pH/arterial', '...",[],"[{'activitat': '1', 'estatMental': '0', 'humit...",[],"[{'valor': '89.7', 'data': '2022-10-15'}, {'va...","[{'codi': 'C09AA', 'dataInici': '2020-10-29 00...",[],...,3.0,3.0,None,86.950000,NaN,NaN,NaN,NaN,None,None
20,85,M,0,"[{'date': '20230409', 'name': 'CULTIU Esput', ...",[],"[{'activitat': '0', 'estatMental': '0', 'humit...",[],"[{'valor': '82.600', 'data': '2020-11-19'}, {'...","[{'codi': 'C09CA', 'dataInici': '2020-10-29 00...",[],...,0.0,0.0,None,83.050000,NaN,NaN,NaN,NaN,None,None
21,29,M,0,[],[],"[{'activitat': '0', 'estatMental': '0', 'humit...",[],"[{'valor': '64.5', 'data': '2020-11-04'}, {'va...","[{'codi': 'N02BE', 'dataInici': '2020-11-06 00...",[],...,0.0,0.0,None,61.275000,NaN,NaN,NaN,NaN,None,None
22,48,M,0,[],[],"[{'activitat': '1', 'estatMental': '0', 'humit...",[],"[{'valor': '150', 'data': '2021-01-15'}, {'val...","[{'codi': 'N02BE', 'dataInici': '2019-08-25 00...",[],...,2.0,2.0,None,145.600000,NaN,NaN,NaN,NaN,None,None
23,67,M,0,[],[],"[{'activitat': '0', 'estatMental': '0', 'humit...",[],[],"[{'codi': 'N02BE', 'dataInici': '2020-11-06 00...",[],...,0.0,0.0,None,NaN,NaN,NaN,NaN,NaN,None,None
24,71,M,0,"[{'date': '20220506', 'name': 'GLUCOSA Sèrum',...",[],"[{'activitat': '1', 'estatMental': '1', 'humit...",[],[],"[{'codi': 'C01AA', 'dataInici': '2022-12-24 00...",[],...,4.0,4.0,None,NaN,NaN,NaN,NaN,NaN,None,None
25,83,F,0,"[{'date': '20220308', 'name': 'UREA Sèrum', 'l...","[{'imc': '', 'anorexia': '', 'perduaPes': '', ...","[{'activitat': '0', 'estatMental': '1', 'humit...",[],"[{'valor': '57', 'data': '2022-11-03'}, {'valo...","[{'codi': 'C10AA', 'dataInici': '2022-09-27 00...","[{'data': '20220929091303', 'disfagia': 'S', '...",...,3.0,3.0,0.0,62.940000,NaN,1.0,0.0,1.0,LIQUID,BAIX
26,97,F,0,"[{'date': '20220419', 'name': 'GLUCOSA Sèrum',...",[],"[{'activitat': '1', 'estatMental': '0', 'humit...",[],[],"[{'codi': 'C09BA', 'dataInici': '2022-04-17 00...",[],...,5.0,5.0,None,NaN,NaN,NaN,NaN,NaN,None,None
27,100,M,0,[],[],"[{'activitat': '3', 'estatMental': '0', 'humit...",[],"[{'valor': '0', 'data': '2021-09-14'}, {'valor...","[{'codi': 'C08CA', 'dataInici': '2020-11-23 00...","[{'data': '20201125131827', 'disfagia': 'S', '...",...,9.0,9.0,None,20.550000,NaN,1.0,1.0,0.0,LIQUID,BAIX
28,95,F,0,"[{'date': '20220526', 'name': 'GLUCOSA Sèrum',...",[],"[{'activitat': '3', 'estatMental': '0', 'humit...",[],"[{'valor': '0', 'data': '2022-05-30'}]","[{'codi': 'C10AA', 'dataInici': '2020-11-18 00...","[{'data': '20220529115841', 'disfagia': 'S', '...",...,6.0,6.0,None,0.000000,NaN,0.0,0.0,0.0,LIQUID,MIG
29,97,F,0,[],[],"[{'activitat': '3', 'estatMental': '2', 'humit...",[],[],"[{'codi': 'N02BE', 'dataInici': '2020-11-30 00...",[],...,14.0,14.0,None,NaN,NaN,NaN,NaN,NaN,None,None
30,83,F,0,[],"[{'imc': '', 'anorexia': '2', 'perduaPes': '3'...","[{'activitat': '0', 'estatMental': '0', 'humit...",[],"[{'valor': '71.5', 'data': '2020-12-07'}, {'va...","[{'codi': 'C08DB', 'dataInici': '2020-12-04 00...",[],...,0.0,0.0,7.0,69.750000,NaN,NaN,NaN,NaN,None,None
31,89,M,0,"[{'date': '20220318', 'name': 'BILIRUBINA TOTA...","[{'imc': '', 'anorexia': '', 'perduaPes': '', ...","[{'activitat': '2', 'estatMental': '1', 'humit...",[],"[{'valor': '75', 'data': '2022-01-11'}, {'valo...","[{'codi': 'C10AA', 'dataInici': '2021-12-23 00...","[{'data': '20220119101523', 'disfagia': 'N', '...",...,9.0,9.0,0.0,74.350000,NaN,0.0,0.0,0.0,LIQUID,BAIX
32,81,M,0,[],[],"[{'activitat': '2', 'estatMental': '1', 'humit...",[],[],"[{'codi': 'C10AA', 'dataInici': '2020-12-23 00...",[],...,8.0,8.0,None,NaN,NaN,NaN,NaN,NaN,None,None
33,21,F,0,[],[],[],[],[],"[{'codi': 'N02BB', 'dataInici': '2020-12-18 00...",[],...,NaN,None,None,NaN,NaN,NaN,NaN,NaN,None,None
34,96,F,0,[],"[{'imc': '', 'anorexia': '', 'perduaPes': '', ...","[{'activitat': '1', 'estatMental': '1', 'humit...",[],"[{'valor': '51.5', 'data': '2021-01-14'}]","[{'codi': 'N02AA', 'dataInici': '2021-01-01 00...",[],...,6.0,6.0,0.0,51.500000,NaN,NaN,NaN,NaN,None,None
35,77,M,0,[],[],[],[],[],"[{'codi': 'C01AA', 'dataInici': '2021-01-09 00...",[],...,NaN,None,None,NaN,NaN,NaN,NaN,NaN,None,None
36,70,M,0,"[{'date': '20220309', 'name': 'GLUCOSA Sèrum',...",[],"[{'activitat': '0', 'estatMental': '0', 'humit...",[],[],"[{'codi': 'N02BE', 'dataInici': '2021-01-11 00...",[],...,0.0,0.0,None,NaN,NaN,NaN,NaN,NaN,None,None
37,86,M,0,"[{'date': '20221003', 'name': 'GLUCOSA Sèrum',...","[{'imc': '', 'anorexia': '', 'perduaPes': '', ...","[{'activitat': '2', 'estatMental': '1', 'humit...",[],"[{'valor': '72', 'data': '2022-10-09'}]","[{'codi': 'G04CA', 'dataInici': '2022-09-26 00...","[{'data': '20221012122425', 'disfagia': 'S', '...",...,9.0,9.0,0.0,72.000000,NaN,1.0,0.0,1.0,NECTAR,MIG
38,90,M,0,"[{'date': '20220809', 'name': 'GLUCOSA Sèrum',...",[],"[{'activitat': '3', 'estatMental': '0', 'humit...",[],[],"[{'codi': 'N02BE', 'dataInici': '2022-10-27 00...","[{'data': '20221031103922', 'pacientNoColabora...",...,9.0,9.0,None,NaN,NaN,NaN,NaN,NaN,None,None
39,87,F,0,"[{'date': '20230619', 'name': 'GLUCOSA Sèrum',...",[],"[{'activitat': '1', 'estatMental': '0', 'humit...",[],[],"[{'codi': 'N02BE', 'dataInici': '2021-01-17 00...","[{'data': '20220111085147', 'disfagia': 'S', '...",...,4.0,4.0,None,NaN,NaN,1.0,1.0,0.0,LIQUID,MIG
40,96,M,0,"[{'date': '20220319', 'name': 'GLUCOSA Sèrum',...",[],"[{'activitat': '1', 'estatMental': '1', 'humit...",[],[],"[{'codi': 'G04CA', 'dataInici': '2021-01-28 00...",[],...,5.0,5.0,None,NaN,NaN,NaN,NaN,NaN,None,None
41,93,F,0,"[{'date': '20221013', 'name': 'GLUCOSA Sèrum',...",[],"[{'activitat': '1', 'estatMental': '1', 'humit...",[],"[{'valor': '0', 'data': '2023-06-02'}, {'valor...","[{'codi': 'C10AA', 'dataInici': '2021-02-05 00...","[{'data': '20230530155654', 'disfagia': 'S', '...",...,5.0,5.0,None,30.000000,NaN,1.0,0.0,1.0,LIQUID,BAIX
42,91,M,0,[],"[{'imc': '', 'anorexia': '', 'perduaPes': '', ...","[{'activitat': '3', 'estatMental': '1', 'humit...",[],"[{'valor': '', 'data': '2021-11-23'}, {'valor'...","[{'codi': 'C08CA', 'dataInici': '2021-06-28 00...","[{'data': '20210628210030', 'disfagiaConeguda'...",...,9.0,9.0,0.0,0.000000,NaN,1.0,1.0,1.0,NECTAR,BAIX
44,83,F,0,"[{'date': '20230508', 'name': 'GLUCOSA Sèrum',...",[],"[{'activitat': '3', 'estatMental': '0', 'humit...",[],"[{'valor': '66', 'data': '2023-05-07'}, {'valo...","[{'codi': 'C09BA', 'dataInici': '2023-05-05 00...",[],...,7.0,7.0,None,65.050000,NaN,NaN,NaN,NaN,None,None
45,85,M,0,"[{'date': '20220330', 'name': 'GLUCOSA Sèrum',...","[{'imc': '', 'anorexia': '', 'perduaPes': '', ...","[{'activitat': '3', 'estatMental': '1', 'humit...",[],"[{'valor': '0', 'data': '2023-04-28'}]","[{'codi': 'G04CA', 'dataInici': '2021-03-21 00...","[{'data': '20210323123919', 'disfagia': 'S', '...",...,11.0,11.0,0.0,0.000000,NaN,1.0,1.0,1.0,PUDING,BAIX
46,86,M,0,[],[],"[{'activitat': '3', 'estatMental': '1', 'humit...",[],"[{'valor': '55.1', 'data': '2021-03-21'}]","[{'codi': 'G04CA', 'dataInici': '2021-03-20 00...","[{'data': '20210721140136', 'disfagia': 'S', '...",...,10.0,10.0,None,55.100000,NaN,1.0,1.0,1.0,PUDING,MIG
47,94,M,0,[],[],"[{'activitat': '3', 'estatMental': '1', 'humit...",[],[],"[{'codi': 'C09AA', 'dataInici': '2021-03-23 00...","[{'data': '20210325091551', 'disfagia': 'S', '...",...,9.0,9.0,None,NaN,NaN,1.0,0.0,1.0,LIQUID,BAIX
48,90,M,0,"[{'date': '20220303', 'name': 'GLUCOSA Sèrum',...",[],"[{'activitat': '3', 'estatMental': '0', 'humit...",[],"[{'valor': '90', 'data': '2021-03-30'}, {'valo...","[{'codi': 'G04CA', 'dataInici': '2021-03-25 00...","[{'data': '20210330124628', 'disfagia': 'N', '...",...,10.0,10.0,None,81.666667,NaN,1.0,1.0,1.0,NECTAR,MIG
49,73,F,0,"[{'date': '20220307', 'name': 'pH/arterial', '...","[{'imc': '3', 'anorexia': '1', 'perduaPes': '1...","[{'activitat': '3', 'estatMental': '0', 'humit...",[],"[{'valor': '143.200', 'data': '2021-09-17'}, {...","[{'codi': 'C10AA', 'dataInici': '2021-08-14 00...","[{'data': '20211216113742', 'disfagia': 'N', '...",...,11.0,11.0,18.5,133.214286,NaN,0.0,0.0,0.0,LIQUID,ALT

Sin aplicar la ultima condicion OR, es decir, queriendo nos devuelva solo las filas que cumplan las 3 condiciones, nos devuelve la: 4, 25, 42, 45 y 48. Sino, nos devuelve todas menos la 43, la cual no tiene un diagnostico de pneumonia.

Ahora que he distribuido los datos en 3 grupos, puedo empezar a analizar su contenido

## Número

Esto se puede ver con tan solo mirar las filas que han salido en el apartado anterior, donde vemos que la tabla de CON_PA tiene 17 filas, la de CON_PA_MECVV tiene 10 y la de SIN_PA tiene 49.

#### Pvalor

Ahora realizaré un test para obtener el pvalor y comparar: CON_PA vs SIN_PA, CON_PA vs CON_PA_MECVV y CON_PA_MECVV vs SIN_PA.

In [71]:
# Crear un DataFrame con las longitudes y sus respectivos grupos
df = pd.DataFrame({'longitud': [17, 10, 49],
                   'grupo': ['CON_PA', 'CON_PA_MECVV', 'SIN_PA']})

# Realizar la prueba de Tukey
tukey_result = pairwise_tukeyhsd(df['longitud'], df['grupo'])

# Imprimir los resultados
print(tukey_result)

    Multiple Comparison of Means - Tukey HSD, FWER=0.05
===========================================================
   group1       group2    meandiff p-adj lower upper reject
-----------------------------------------------------------
      CON_PA CON_PA_MECVV     -7.0   nan   nan   nan  False
      CON_PA       SIN_PA     32.0   nan   nan   nan  False
CON_PA_MECVV       SIN_PA     39.0   nan   nan   nan  False
-----------------------------------------------------------

C:\Users\maria\PycharmProjects\practicum\.venv\Lib\site-packages\numpy\core\fromnumeric.py:3787: RuntimeWarning: Degrees of freedom <= 0 for slice
  return _methods._var(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
C:\Users\maria\PycharmProjects\practicum\.venv\Lib\site-packages\numpy\core\_methods.py:198: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)